apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: shared-pvc
  namespace: project
spec:
  storageClassName: local-path  # Use k3d's default storage class
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
