apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: ping_pong:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: POSTGRES_HOST
              value: "postgres-svc.exercises.svc.cluster.local"
            - name: POSTGRES_DB
              value: "pingpong"
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "postgres"