apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: shared-logs
          emptyDir: {}
        - name: shared-data
          persistentVolumeClaim:
            claimName: shared-pvc
      containers:
        - name: log-writer
          image: log_output_writer:latest
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: shared-logs
              mountPath: /app/logs
        - name: log-reader
          image: log_output_reader:latest
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: shared-logs
              mountPath: /app/logs
            - name: shared-data
              mountPath: /app/data
#          ports:                   for future reference
#            - containerPort: 3000  for future reference
#              name: http           for future reference
#              protocol: TCP        for future reference