apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
        - name: log-output
          image: log_output:latest
          imagePullPolicy: IfNotPresent
#          ports:                   for future reference
#            - containerPort: 3000  for future reference
#              name: http           for future reference
#              protocol: TCP        for future reference